.filter_list {
    
    background-color: var(--background_menu);
    color: #ccc9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    position: fixed;
    margin-top: 0rem;
    transform: translateX(2000px);
    transition: transform scaleX 5s ease;
    
}

.hide_menu_filter {
    width: 300px;
    background-color: var(--background_menu);
    color: #ccc9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    position: fixed;
    margin-top: -4px;
    transform: translateX(0);
    transition: transform scaleX 5s ease;
    
}

.menu_filter:hover {
    transform: scaleX(1.02);
    background-color: rgba(173, 111, 111, 80%);

}