body {
    background-color: var(--background_body);
    
}

.App {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

.bg_img-header {
    background-image: url('https://imgix.bustle.com/inverse/5d/09/a0/17/caa2/4f26/9cc7/43cce806ffd0/what-do-you-mean-youre-not-rated-for-this-morty.png?w=710&h=378&fit=max&auto=format%2Ccompress&q=50&dpr=2');
    width: 100%;
    max-width: 1024px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 100px;
    font-size: 15px;
    color: rgb(218, 98, 0);
    -webkit-text-stroke: 2px var(--background_body);
    position: fixed;
    background-repeat: no-repeat;
    background-position: 0px -20px;
    background-size: cover;
    z-index: 1000;
}

.bg_img-header h1 {
    animation-name: move;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: all 5s ease-in-out;
}

@keyframes move {
   0%{
        transform: translateY(0);
        transition: all 5s ease-in-out;
   } 100%{
    transform: translateY(20%) translateX(5%) scale(1.1);
    color: rgb(109, 236, 236);
    text-shadow: 10px 20px 10px 1px black;
    transition: all 5s ease-in-out; 
   }
    
}

.cards_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
        
}

.location_info {
    height: 250px;
    background-color: var(--background_suggestedList);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
    border-radius: 0px 0px 10px 10px;
}

.location_info span {
    color: #ccc9;
    
    
}

.location_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    
}

.item_list1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item_list2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item_list3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: 70px;
    background-color: transparent;
    position: fixed;
    top: 100px;
    padding-left: 10px;
    z-index: 1100;
    
}

.visual_contain {
    padding-top: 170px;
    
}

.input {
    height: 30px;
    width: 350px;
    border: none;
    /* border-radius: 10px 0px 0px 10px; */
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0.3rem;
    background-color: white;
    border: rgba(253, 85, 7, 75%) solid 2px;
    transition: all 5s ease;
    z-index: 1;
}

.input::placeholder { 
    color: rgba(253, 85, 7);
    -webkit-text-stroke: 0.9px var(--background_body);
    font-weight: bold; 
}

.input:hover {
    border: rgb(85, 84, 84) solid 1px;
    border-color: rgba(70, 209, 133, 0.911);
    background-color: rgba(255, 255, 244, 75%); 
    transition: all 5s ease;       
}

.search_button {
    height: 30px;
    width: 200px;
    background-color: bisque;
    box-shadow: -1px 1px 2px black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 3px 10px 0px;
    cursor: pointer;
    margin-left: 85px;
    /* border-radius:  0px 10px 10px 0px; */
    border-radius: 10px;
    transition: all 0.5s ease;
    z-index: 2;
}

.search_button:hover {
    transform: scale(1.01);
    background-color: rgba(100, 255, 170, 0.911);
    transition: all 0.5s ease;
}

.err {
    position: fixed;
    margin-top: 400px;
    padding-left: 20px;
    color: red;
    font-size: 30px;
}

@media (min-width: 700px) {
    .nav {
        height: 50px;
        justify-content: center;
        align-items: flex-end;
        padding-left: 10px;
        padding-right: 10px;
        top: 200px;
        background-color: rgb(197, 144, 144);
        box-shadow: 0px 0px 10px 0px;
    }

    
    .input {
        
        border-radius: 10px 0px 0px 10px;
        background-color: white;
        border: none;
    }

    .input::placeholder { 
        color: grey;
        -webkit-text-stroke: 0;
        font-weight: 0; 
    }
    

    .search_button {
        margin-left: 0;
        border-radius:  0px 10px 10px 0px;
        
    }

    .visual_contain {
        padding-top: 250px;
    }

    .bg_img-header {
        height: 200px;
        justify-content: center;
        align-items: flex-start;
        background-position: 0px -100px;
        font-size: 30px;
    }

    .location_info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        padding: 20px;
        height: 100px;
    }

    .location_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        
        
    }

    form {
        display: flex;
        
    }
    
}

